button {
    background-repeat: no-repeat;
    background-size: 30%;
}

.stopButton {
    width:99vmin;
    height:10vmin;
    background-color: #FF8080;
    font-size:5vmin;
    color:white;
    margin-bottom:2vmin;
}

.buttonArea {
    display:grid;
    grid-template-columns: 30vmin 30vmin 30vmin;
    gap: 3%;
    grid-template-rows: 20vmin 20vmin 20vmin 20vmin;
}